//colors
$color-white: #DFB97C;
$color-border: #d8ae69;
$color-background: #000;
$color-foreground: #333;
$color-darker: #222;

//space
$space-base: 16px;
$space-s: $space-base / 2;
$space-m: $space-base / 1.5;


//breakpoints
$breakpoint-mobile: 430px;